


$mainText:  rgb(243, 178, 0);
$navbarBackgroundColor : $mainText;
// $navbarBackgroundColor : #126f3d;
$navbarTextColor: rgb(3, 0, 0) ;
// $background-Color: #f200ff;


$whiteText : white;



$background-Color: white;

$width : 786px;


@mixin mobile {
    @media (max-width  : #{$width}) {
        @content
        
    }
    
}