@import '../../Styles/globalstyle.scss';

.navbar-main {
    background-color: $background-Color;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 2s ease;
    overflow-y: hidden;

    .wrapper {
        padding: 20px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {

            // display: flex;
            align-items: center;


            a {
                text-decoration: none;
                font-size: 28px;
                font-weight: 600;
                color: $navbarTextColor;
            }

            a:hover {
                color: $navbarBackgroundColor;
            }
            span{
                color : $mainText,
            }

        }


        .items {
            justify-content: space-between;
            margin-right: 30px;
            padding: 0;

            ul {
                display: flex;
                list-style-type: none;

                li {
                     padding-right: 30px;
                    a {
                        text-decoration: none;
                        color: $navbarTextColor;
                        font-size: 18px;
                        font-weight: 700;
                    }

                    a:hover {
                        color: $navbarBackgroundColor;
                    }
                }
            }

        }


        .right {

            .toggle {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 3px;
                    background-color: $navbarTextColor;
                    transform-origin: left;
                    transition: all 2s ease;
                }


            }

        }

    }

    &.active {
        background-color: $navbarBackgroundColor;

        .logo {
            a {
                color: $navbarTextColor;
             span{
                transition: all 2s ease;
                color: $navbarTextColor;

             }
                
            }
        }

        .right {

            .toggle {
                span {
                    &:first-child {
                        background-color: $mainText;
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        background-color: $mainText ;
                        transform: rotate(-45deg);

                    }
                }

            }
        }


    }

}


// @media only screen and (max-width: 688px){
//     .items{
//         display: none;
//     }

// }
@media only screen and (max-width: 688px) {


    .navbar-main {
        .wrapper {
            .logo {
                a {
                    font-size: 25px;
                }
            }
        }
    }
}