@import '../../Styles/globalstyle.scss';


.portfolioList {
    font-size: 15px;
    font-weight: bold;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    

    &.active {
        background-color: $mainText;
        color: $navbarTextColor;
    }
}